$secondaryColor:#6C63FF;
$personalWhite:#FFFEFE;
h1 {
    text-align: center;
    margin-top: 2rem;
    font-size: 2rem;
}

.About {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 35px;
    width: 35vw;
    transform: translateX(1rem);
    color: black;
    font-weight: 500;
}

.name {
    display: flex;
    gap: 30px;
    input {
        padding: .2rem 2rem;
    }
}

input:focus {
    outline: none;
}

input {
    background: none;
    border: none;
    border-bottom: 1.2px solid #707070;
    padding-left: 15px;
}

.navigations {
    display: flex;
    align-items: center;
}

.password input {
    width: 200%;
    padding: .2rem, 2rem;
    left: 20%;
}

.email,
.password {
    position: relative;
    img {
        position: absolute;
        left: 0;
        bottom: 15%;
        transform: translateX(-100%);
        padding-right: 1.2rem;
    }
}

.email {
    img {
        max-width: 20%;
    }
}

.password {
    img {
        max-width: 16%;
        transform: translateX(-110%);
    }
}

.email input {
    width: 226%;
    padding: .2rem, 2rem;
    left: 20%;
}

.signin1 {
    color: #FFFEFE;
    background: #6C63FF;
    padding: 0.5rem 2.1rem;
    text-align: center;
    border-radius: 14px;
    transition: ease-in-out 300ms;
    &:hover {
        opacity: .7;
    }
}

.New {
    padding: 1rem 0;
    font-size: .8rem;
    color: black;
    opacity: .7;
    transition: ease-in-out 300ms;
    &:hover {
        opacity: 1;
    }
}

.ForgotPassword {
    color: black;
    transition: ease-in-out;
    top: 10%;
    padding-right: 1rem;
    opacity: .5;
    font-size: .7rem;
    transition: ease-in-out 100ms;
    &:hover {
        opacity: .7;
    }
}

@media only screen and (max-width: 920px) {
    .info {
        align-self: center;
        transform: translateX(-20%);
        input {
            max-width: 50rem;
        }
    }
}

@media only screen and (max-width: 765px) {
    .info {
        input {
            max-width: 20rem;
        }
    }
}

@media only screen and (max-width: 454px) {
    .info {
        img {
            display: none;
        }
        input {
            max-width: 15rem;
        }
    }
}

@media only screen and (max-width:380px) {
    .info {
        input {
            width: 10rem;
        }
    }
}