$secondaryColor:#6C63FF;
.SignUp-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:3.2rem;
}
h1 {
    text-align: center;
    margin-top: 3rem;
    font-size: 2rem;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translateX(-50%);
    gap: 35px;
    .name {
        display: flex;
        gap: 50px;
        input{
            padding:.2rem 2rem;
        }
    }
    
    input:focus {
        outline: none;
    }
    
    input {
        //display: inline;
        //outline: none;
        background: none;
        border: none;
        border-bottom: 1.2px solid #707070;
        padding-left: 15px;
        &::placeholder{
            color:#111111;
            font-size:1rem;
        
        }
        
    }
    .password input,.email input, .mobile input, .confirm input{
        width: 221%;
        padding:.2rem 2rem;
    }
    
}


.navigations{
    display: flex;
    align-items: center;
    .sign-up{
        font-size: medium;
        background: #6C63FF;
        padding: 0.5rem .9rem;
        border-radius: 14px;
        color: white;
        margin-right: 2rem;
        
    }
    .sign-in{
        color:#6C63FF;
        font-weight: 600;
        padding-left: .3rem;
    }
}

@media only screen and (max-width:500px){
    .information{
        .name{
            flex-direction: column;
        }
        input{
            max-width:11rem;
            &::placeholder{
                font-size:.8rem;
            }
        }
    }
    .navigations{
        flex-direction: column;
        gap:2rem;
        font-size: .9rem;
        .sign-up{
            transform: translateX(20%);
        }

    }
}