.about-container{
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about h1{
    padding-bottom: 40px;
    padding-top: 60px;
}
.about p{
    padding-right: 700px;
    text-align: left;
    font-size: large;
}
.about-illustration{
    position: absolute;
    right: 0;
    top:20%;
    width: 45vw;
    height:70vh;
}