.profile-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #3F3D56;
    color: white;
    padding: 2rem;
    border-radius: 20px;

    .myProfile{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;
    }
    .white{
        color: white;
    }
    .name, .number, .email{
        color: #E3CAAB;
    }

    .edit{
    background: #6C63FF;
    padding: 0.5rem 2.1rem;
    text-align: center;
    border-radius: 14px;
    transition: ease-in-out 300ms;
    &:hover {
        opacity: .7;
        color: white;
        }
    }
}

@media only screen and (min-width:461){

}
@media only screen and (min-width:1200){

}