.user-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .hello{
        padding: 1rem 0 5rem;
        position: relative;
        font-weight: 700;
        &::before{
            content: ' ';
            background: #6C63FF;
            width: 70%;
            height: 1.3rem;
            border-radius: 90%;
            position: absolute;
            left:-30%;
            top:10%;
            z-index: -2;
            opacity: .7;
        }
    }
}

@media only screen and (min-width:461) {
   
}